*{
    text-align: center;
}
#img-caption {
    width: 900px;
}
#image{
width: 500px;
display: block;
margin-left: auto;
margin-right: auto;
border: 6px solid; 
border-color: darksalmon;
border-radius: 50%;
}

#tribute-info{
    width: 1200px;
    margin-left: 10%;
    margin-right: 10%;
}